.mobileHeader {
  position: absolute;
  inset: 0;
  z-index: 10;
  max-height: 10vh;
  height: max-content;
  padding: 1rem 1rem 1.3rem 1rem;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 25%, rgba(0,0,0,.7) 75%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #E50914;
  font-size: 1.8rem;
  font-weight: bolder;
  line-height: 1;
}

.mobileNavbar{
 position: fixed;
 bottom: 0;
 left: 0;
 min-height: 60px;
 width: 100%;
 display: flex;
 flex-direction: row;
 z-index: 10;
}
.mobileNavbar_navlink {
  width: calc(100% / 6);
  background: black;
  color: rgb(126, 126, 126);
  height: 60px;
  display: grid;
  place-items: center;
}
.mobileNavbar_navlink--active{
  color: white;
}
