.contentCarousel__poster {
  flex-shrink: 0;
  padding-top: calc(100% * 1.5);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  border: none;
  display: block;
}
.contentCarousel__poster--isLoading {
  background: linear-gradient(307deg, #898989, #343434);
  background-size: 400% 400%;

  -webkit-animation: SkeletonLoad 30s ease infinite;
  -moz-animation: SkeletonLoad 30s ease infinite;
  animation: SkeletonLoad 30s ease infinite;
}
.contentCarousel__poster > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  opacity: 0;
  transition: all .3s;
  text-align: center;
}
.contentCarousel__poster:hover {
  cursor: pointer;
}

.contentCarousel__poster--noimg > span {
  opacity: 1;
}

.contentCarousel__poster:hover > span {
  opacity: 1;
}

.contentCarousel__poster > img {
  position: absolute;
  inset: 0;
  transition: all .3s;
  height: 100%;
  transform: scale(1);
}
.contentCarousel__poster:hover > img {
  filter: brightness(.4)blur(3px);
  transform: scale(1.3);
}

@-webkit-keyframes SkeletonLoad {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@-moz-keyframes SkeletonLoad {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@keyframes SkeletonLoad {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}